body{
    color: white;
}
/* Set the canvas as a fixed position element that covers the entire viewport */
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Set z-index to -1 to position it behind the content */
    opacity: 1;
    transition: opacity 1s ease;
}

.hidden {
    display: none;
}


#subtitle{
    position: absolute;
    top: 58%;
    left: 80%;
    font-family: "typewriter", monospace;
}
.st3{fill:none;stroke:#C1272D;stroke-width:19;stroke-miterlimit:10;}
.st4{fill:#C1272D;}
