a {
    color: #bce1ed;
    font-family: 'Roboto', sans-serif;

    text-decoration: none;

}
#blog-titles {
    margin-top: 60px;   
    width: 400px;
    

}
.blog-container{
    width: 800px;
    margin: auto;
}
.blog-content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #454442;
    padding: 20px;
    font-family: 'Onest', sans-serif;
    
}
.blog-link{
    height: 30px;
    width: 400px;
    background-color: #444;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 5px;
}


#blog-post-container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: rgb(37, 37, 37);
    background-image: url('sunrise_horizon2.svg');
    background-size: cover;
    color: white;
}
#canvas-wrapper{
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}
.caption{
    font-size: 12px;
}
#content{
    display: flex;
}
footer{
    margin-top: 20px;
    text-align: right;
    color: #aaa;
    font-size: 14px;    
}
h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #2c2a2a;
    font-weight: lighter;
}
iframe{
    margin: auto;
}
li{
    margin-bottom: 10px;
}
strong{
    color: rgb(226, 222, 202);
}




